{% extends 'base.html' %}

{% block content %}
<div class="container text-center">

  {{ calendar }}
  <div class="row justify-content-center">
    {% for day_log in week_log %}
    <div class="col-md border ">

      <div class="text-center">
        <p class="small mb-0">{{ day_log.day.strftime('%A, %B %d') }}</p>
        {% for result in day_log.results %}
          <p class="mb-0">{{ result.workout.title }}</p>

          <p class="fw-bold mb-1">{{ result.score }}</p>
          <p>{{ result.comment }}</p>
          {% endfor %}
      </div>

    </div>
    {% endfor %}

  </div>
</div>


{% endblock %}

