{% extends 'base.html' %}

{% block content %}
<div class="container text-center">
  
  <div class="row">
    
    <div class="row justify-content-center mt-5" id="results-div">
      <div class="col-sm-9">
        <ul class="list-group">
          {% for result in result_list %}
          <li class="list-group-item">
            <div class="d-flex justify-content-between align-items-center">
              {{ result.date_completed.strftime('%B %d, %Y') }}
            </div>
            <div class="d-flex justify-content-between align-items-center">
              <div class="ms-2">
                <a href="/users/{{ result.user.id }}">
                  <img src="{{ result.user.image_url }}" alt="user image" class="timeline-image me-2">
                </a>
                <a href="/users/{{ result.user.id }}">@{{ result.user.username }}</a>
                <span class="text-muted small">{{ result.date_completed.strftime('%B %d, %Y  %I:%M %p') }}</span>
              </div>
              <div class="result-area text-end">
                <div class="fw-bold">{{ result.score }}</div>
                <div>{{ result.comment }}</div>
                <a class="small text-secondary res-comment-btn cursor-pointer" id="res-comment-btn-{{result.id}}" href="#">Comments</a>
              </div>
            </div>
            {% if result.res_comments %}
            <ul class="list-group" id="res-comment-list-{{result.id}}">
            {% else %}
            <ul class="list-group d-none" id="res-comment-list-{{result.id}}">
            {% endif %}

              {% for res_comment in result.res_comments %}
                <li class="list-group-item">
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="ms-2">
                      <a href="/users/{{ res_comment.user_id }}">
                        <img src="{{ res_comment.user.image_url }}" alt="user image" class="timeline-image me-2">
                      </a>
                      <a href="/users/{{ res_comment.user_id }}">@{{ res_comment.user.username }}</a>
                      <span class="text-muted small">{{ res_comment.date.strftime('%B %d, %Y  %I:%M %p') }}</span>
                    </div>
                    <div class="result-area text-end">
                      <div>{{ res_comment.res_comment }}</div>
                    </div>
                  </div>
                </li>
              {% endfor %}
            </ul>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>






{% endblock %}

